html {
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none !important;
    font-family: Archivo, sans-serif;
    background-color: #485f86;
}

body::-webkit-scrollbar {
    display: none;
}

.anjing {
    margin-left: 10%;
    margin-top: 6.9vh !important;
    padding-top: 4.5vh !important;
}

.rusa {
    margin-top: 22.5vh;
    margin-bottom: 6%;
    max-height: 100%;
    font-size: 2vw;
}

.gambar {
    max-height: 2.8vw;
    max-width: 2vw;
    filter: invert(71%) sepia(37%) saturate(4056%) hue-rotate(340deg) brightness(107%) contrast(96%);
}

.kucing {
    color: #fa982e;
}

.img-fluid {
    width: 69%;
    border-radius: 50%;
}

.linkie {
    line-height: 0.8em;
}

.link-row {
    max-height: 100%;
}

a:link {
    text-decoration: none;
    font-size: 10vw;
    color: #fa982e;
}

a:hover {
    background-color: #fa982e;
    color: #485f86 !important;
    margin: 0;
    padding: 0;
}

a:visited {
    color: #fa982e;
}
